@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "potta";
  src: url("/fonts/bewfont.ttf");
}

.lh-1 {
  line-height: 1 !important;
}
.lh-1_1 {
  line-height: 1.1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
.lh-1_6 {
  line-height: 1.6 !important;
}
.lh-1_7 {
  line-height: 1.7 !important;
}
.lh-1_8 {
  line-height: 1.8 !important;
}
.lh-1_9 {
  line-height: 1.9 !important;
}

@layer base {
  * {
    @apply font-popins scroll-smooth;
  }

  html,
  body {
    @apply bg-[#FFE600] text-black overflow-x-hidden;
  }

  .container-wrapper {
    @apply max-w-[1324px] w-[90%] mx-auto;
  }
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

.txt-s{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.white-shadow{
  -webkit-box-shadow: 3px 1px 15px 9px rgba(255,255,255,1);
  -moz-box-shadow: 3px 1px 15px 9px rgba(255,255,255,1);
  box-shadow: 3px 1px 15px 9px rgba(255,255,255,1);
}

.bg-foot{
  background-image: url('images/footbg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.mySwiper{
  align-items: center;
}

.swiper-wrapper{
  align-items: center;
margin: auto;
}


/* KEYFRAMES */



/* ANIMATIONS */

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}



.btn-main{
  border: 1px solid black;
  background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: rgb(255, 255, 255);
}


.btn-main:hover{        
  background: white;
  border: 1px solid black;
  color: black;
}